{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "bracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false,
    "vueIndentScriptAndStyle": true,
    "parser": "babel",
    "filepath": "",
    "rangeStart": 0,
    "rangeEnd": 99999999,
    "requirePragma": false,
    "insertPragma": false,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "printWidth": 200
            }
        }
    ]
}
